@import "import";

.btn{
    padding: 15px 25px;
    font-family: $font-family-regular;
    font-size: $text-size-normal;
    @include transition(all $form-animation-time ease-in-out);
    text-transform:uppercase;


    &.btn-nor{
        padding: 8px 20px;
    }
    &.btn-border{
        background: #FFF;
        border-color: $form-border-color;
        &:focus, &:hover, &:active{
            border-color: darken( $form-border-color, 10% ) !important;
        }
    }
    &.btn-primary{
        background-color: $brand-primary;
        border-color: $brand-primary;
        &:focus, &:hover, &:active{
            background-color:darken( $brand-primary, 5% ) !important;
            border-color:darken( $brand-primary, 5% ) !important;
        }
    }
    &.btn-secondary{
        background-color: $brand-secondary;
        border-color: $brand-secondary;
        text-transform: uppercase;
        &:focus, &:hover, &:active{
            background-color:darken( $brand-secondary, 5% ) !important;
            border-color:darken( $brand-secondary, 5% ) !important;
        }
    }
    &.btn-default{
        background-color: $light-grey;
        border-color: $border-color;
        text-transform: uppercase;
        &:focus, &:hover, &:active{
            background-color:darken( $light-grey, 5% ) !important;
            border-color:darken( $border-color, 5% ) !important;
        }
    }
    &.btn-icon{
        padding:0;
        width:40px;
        height: 40px;
        line-height:40px;
        background:none;
    }
    &:focus{
        box-shadow:none !important;
    }
}
.navbar-toggler{
    &:focus{
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        outline: none;
    }
}
