@import "import";

body{font-family: $font-family-regular; font-size: $text-size-normal; color: $text-normal-color; background: $body-bg;}

html, body {height: 100%;}
#main{height: 100%;}
.page {display: table; width: 100%; height: 100%; padding-top: $header-height * 2;}
.content-area, #page-wrapper {display: table-row; height: 100%;}
.footer {height: 1px; display: table-cell;}

a{color: $brand-primary;}


.dropdown-menu .dropdown-item{font-size: $text-size-normal;}

.border-bottom{border-bottom: 1px solid $border-color !important;}
.border-top{border-top: 1px solid $border-color !important;}
.border-left{border-left: 1px solid $border-color !important;}
.border-right{border-right: 1px solid $border-color !important;}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    vertical-align: middle;
    &:before{line-height:0;}
}
.icon-xl{font-size: $icon-xl !important;}
.icon-lg{font-size: $icon-lg !important;}
.icon-md{font-size: $icon-md !important;}
.icon-sm{font-size: $icon-sm !important;}

.text-size-lg{font-size: $text-size-lg !important;}
.text-size-md{font-size: $text-size-md !important;}
.text-size-sm{font-size: $text-size-sm !important;}
.text-size-xs{font-size: $text-size-xs !important;}

.dark-grey-bg{background-color: $dark-grey;}

.space-top{margin-top: 80px !important;}
.space-bottom{margin-bottom: 80px !important;}

.dropdown-submenu {
  position: relative;
  a{
  	&:after{
		transform: rotate(-90deg);
		position: absolute;
		right: 6px;
		top: .8em;
  	}
  }
  .dropdown-menu{
	top: 0;
	left: 100%;
	margin-left: .1rem;
	margin-right: .1rem;
  }
}
.w100{width: 100% !important}

.tab-content{
    background: #FFF; 
    padding: 1rem; 
    border: 1px solid $border-color; 
    border-top: none;
}
.nav-tabs{
    .nav-items{
        margin-bottom: -1px;
        .nav-link{
            color: $text-normal-color;
        }
    }
} 

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    li{
    	display: inline-block;
    	a,span{
    		position: relative;
		    float: left;
		    padding: 6px 12px;
		    margin-left: -1px;
		    line-height: 1.42857143;
		    color: $text-size-normal;
		    text-decoration: none;
		    background-color: #fff;
		    border: 1px solid $border-color;
		    &:hover{
		    	z-index: 3;
			    color: #fff;
			    cursor: default;
			    background-color: $brand-primary;
			    border-color: $brand-primary;
		    }
    	}
    	&:first-child{
    		a.span{
    			margin-left: 0;
			    border-top-left-radius: 4px;
			    border-bottom-left-radius: 4px;
    		}
    		
    	}
    	&.disabled{
    		a,span,a:hover,span:hover,a:focus,span:focus{
    			color: #777;
			    cursor: not-allowed;
			    background-color: #fff;
			    border-color: #ddd;
    		}
    	}
    	&.active{
    		a,span,a:hover,span:hover,a:focus,span:focus{
    			z-index: 3;
			    color: #fff;
			    cursor: default;
			    background-color: $brand-primary;
			    border-color: $brand-primary;
    		}
    	}
    }
}