@import "import";

.form-control, select.form-control {
    font-size: $text-size-normal;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 38px !important;
    border-color: $form-border-color;
    &:focus {
        @include box-shadow(0, 0, 0, 0, rgba(0, 0, 0, 0.0));
    }
}

.form-check-input {
    position: absolute;
    margin-top: .05rem;
    margin-left: -1.25rem;
    width: 15px;
    height: 15px;
}

textarea.form-control{height: 135px !important;}