// http://app.fontastic.me/
@import "variables";

@include fontFace($icon-name, $iconFontPath);


[data-icon]:before {
  font-family: $icon-name !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: $icon-name !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\61";
}
.icon-twitter:before {
  content: "\62";
}
.icon-light-truck:before {
  content: "\63";
}
.icon-truck:before {
  content: "\64";
}
.icon-bus:before {
  content: "\65";
}
.icon-scooter:before {
  content: "\66";
}
.icon-car:before {
  content: "\67";
}
.icon-auto-rickshaw:before {
  content: "\68";
}
.icon-flag:before {
  content: "\69";
}
.icon-hamburger:before {
  content: "\6a";
}