@import "icons";
@import "variables";
@import "mixins";

.visible-xs{display:none !important}


/*Break Points*/

@include breakpoint(xl) {

}

@include breakpoint(lg) {
  .data-list .label{display: none;}
  .data-list .card .list-group-item{display: block; height: auto; line-height: normal;}
  .data-list .card .list-group-item span{font-size: $text-size-xs;}
}

@include breakpoint(md) {
  .banner-panel{height: auto;
    .article{position: relative; top: auto; left: auto; @include translate(0, 0);}
  }
  .header .main-header .navbar-nav .nav-item.divider{
    margin: 5px 0;
    &:after{
      left: 0;
      right: 0;
      top: auto;
      bottom: auto;
      border-left: none;
      border-bottom: 1px dashed rgba(0,0,0,0.2);
    }
  }
    body .header{
      .main-header{
      .container{position: relative}
      .navbar-collapse{
        position: absolute;
        top: $header-height - 10px;
        right: 0;
        background-color: #FFF;
        min-width: 200px;
        z-index: 999;
        border:1px solid $border-color;
        .navbar-nav{
          display: block;
          .nav-item{
            display: block;
            a.nav-link{color: $text-normal-color;}
          }
          .btn.btn-secondary{
            width: 100%;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
          }
        }
      }
      }
      .sub-header{
          .container{
              padding-left: 0;
              padding-right: 0;
          }
      }
    }

  .graph-panel>.row .panel{border-right: none; padding: 25px 15px; border-bottom: 1px dashed $border-color;}
  .graph-panel{
    margin-top: 60px;
  }
}

@include breakpoint(sm) {
    .sub-header{padding-left: 1rem; padding-right: 1rem;
      > .container > .row > .col-sm-3{position: static; width: 0; padding: 0;}
      .heading{position: absolute; top: 0; left: 80px; right: 80px; text-align: center; color: $header-text-color !important;}
      .text-right{
        text-align: center !important;
      }
    }
  .space-top{margin-top: 60px !important;}
  .space-bottom{margin-bottom: 60px !important;}
  .article{
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .graph-panel{
    margin-top: 30px;
  }
  .footer{text-align: center;}
  .footer .text-right{text-align: center !important; padding-top: 5px}
  .header .sub-header ul.header-tab>li>a{padding-left: 10px; padding-right: 10px;}
}

@include breakpoint(xs) {
    
}

@include breakpoint(xs-mini) {
   
}