@import "mixins";

/*Fonts*/
//$robotoFontPath:             '../fonts/roboto';
$imagesPath:                '../images';
$font-family-thin:          'Roboto-thin';
$font-family-light:         'Roboto-light';
$font-family-regular:       'Roboto-regular';
$font-family-medium:        'Roboto-medium';
$font-family-bold:          'Roboto-bold';
/*End*/

/*Font Size*/
$text-size-normal:          13px !default;
$text-size-xl:              50px;
$text-size-lg:              26px;
$text-size-md:              22px;
$text-size-sm:              16px;
$text-size-xs:              11px;
/*End*/

/*Icons*/
$iconFontPath:              '../fonts/icons/traffic';
$icon-name:                 'traffic-icons';
$icon-xl:                   50px;
$icon-lg:                   30px;
$icon-md:                   22px;
$icon-sm:                   16px;
/*End*/

/*Colors*/
$text-dark-color:           #212121;
$text-normal-color:         #666 !default;
$brand-primary:             #6b5e93;
$brand-secondary:           #7dc9ad;
$brand-tertiary:            #fcba02;
$light-grey:                #fcfbfa;
$dark-grey:                 #f5f3f0;
$link-color:                $brand-primary !default;
$body-bg:                   $light-grey !default;
$body-bg-secondary:         #fff;
$border-color:              #dbdbda;
$shadow:                    rgba(0, 0, 0, 0.2);
$header-bg:                 $brand-primary;
$header-text-color:         #FFF;
$footer-bg:                 #212121;
$footer-text-color:         #909090;
$form-border-color:         #b3b3b3;
/*End*/

/*Block Sizes*/
$header-height:             50px;
$icon-box-width:            145px;
$icon-box-height:           166px;
$banner-size:               400px;
$modal-lg:                  900px;
$modal-md:                  700px !default;
$modal-sm:                  500px;
$modal-xs:                  400px;
$card-header-size:          53px;
$left-panel-size:           240px;
/*End*/

//Animation
$animation-time:            .2s;
$form-animation-time:       .15s;
/*End*/

/*Shadow*/

/*End*/


//Break Points
$xl-size: 1200px;
$lg-size: 992px;
$md-size: 768px;
$sm-size: 576px;
$xs-size: 480px;
$xs-mini-size: 350px;
//End