@import "framework/import";

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .navbar-toggler{
    color: $header-text-color;
  }
  .main-header {
    height: $header-height;
    background: $header-bg;
    .navbar-brand{
      color: $header-text-color;
      font-size: 15px;
    }
    .navbar-nav {
      svg{display: none;}
      .nav-item{
        &.divider{
          position: relative;
          margin: 0 5px;
          &:after{
            content: "";
            position: absolute;
            top: 8px;
            bottom: 8px;
            border-left: 1px dashed rgba(255, 255, 255, 0.4);
          }
        }
        &.show{
          .nav-link{
            //background-color: rgba(255, 255, 255, 0.2);
          }
        }
      }
      .nav-link{
        padding: 9px 15px;
        text-transform: uppercase;
        color: $header-text-color;
        @include border-radius(.25rem);
        .icon-lg{
          margin-top:-5px;
          margin-bottom: -5px;
        }
      }
      .btn{
        padding: 8px 15px;
      }
      .dropdown-menu{
        margin-top: 5px;
      }
    }
    .active{
      .nav-link{
        color: $brand-tertiary;
        font-family: $font-family-medium;
      }
    }
  }
  .sub-header{
    height: $header-height;
    background: #FFF;
    border-bottom:1px solid $border-color;
    line-height: $header-height;
    .heading{
      margin: 0;
      padding: 0;
      font-family: $font-family-medium;
      font-weight: normal;
      font-size: $text-size-md;
      color: $text-dark-color;
      line-height: $header-height;
    }
    ul.header-tab{
      margin: 0;
      padding: 0;
      list-style: none;
      > li{
        display: inline-block;
        vertical-align: mathematical;
        > a{
          display: block;
          padding: 0 15px;
          color: #666;
          position: relative;
          &:after{
            position: absolute;
            content: "";
            height: 2px;
            width: 0%;
            background-color: $brand-secondary;
            bottom: 0;
            left: 0;
            @include transition(width $animation-time ease)
          }
          &:hover{
            text-decoration: none;
            &:after{
              width: 100%;
            }
          }
        }

        &.active{
          > a{
            font-family: $font-family-medium;
            font-weight: normal;
            color: $text-dark-color;
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.footer{
  background-color: $footer-bg;
  color: $footer-text-color;
  padding: 15px 0;
  font-size: $text-size-xs;
  a{
    color: $footer-text-color;
  }
}

.article{
  padding-top: 80px;
  padding-bottom: 80px;
  .content{
    text-align: center;
    max-width: 730px;
    margin: 0 auto;
    .heading-text{
      color: $text-dark-color;
      font-size: $text-size-lg;
      font-weight: normal;
      margin: 0 0 10px 0;
      padding:0;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
}

.icons-container{
  margin-top: 50px;
  text-align: center;
  .list-inline{text-align: center; margin: 0 0 -30px 0;
    .list-inline-item{
      margin-bottom: 30px;
      margin-top: 30px;
      @include transition(all $animation-time ease-in-out);
      &:hover{
        @include scale(1.1);
      }
    }
    aside{
      border: 1px solid $brand-secondary;
      padding: 10px;
      padding-top: 30px;
      position: relative;
      width: $icon-box-width;
      height: $icon-box-height;
      .iconBlock{
        position: absolute;
        top: -25px;
        left: 50%;
        height: 50px;
        @include translate(-50%, 0);
        background: $body-bg;
        padding-left: 10px;
        padding-right: 10px;
        color: $brand-secondary;
      }
      .text-bold{
        font-size: $text-size-xl;
        font-family: $font-family-bold;
        height: 75px;
          .percentage{
            font-size: $text-size-md;
            display: inline-block;
            position: absolute;
            margin-left: -2px;
            margin-top: 2px;
          }
        .kmh{
          font-size: $text-size-sm;
          display: inline-block;
          position: absolute;
          margin-left: -2px;
          margin-top: 2px;
        }
        .icon-flag{
          position: absolute;
          display: inline-block;
          margin-top: 23px;
        }
      }
      .dashed-bottom{
        border-top: 1px dashed $border-color;
        padding-top: 10px;
        padding-bottom: 5px;
        text-transform: uppercase;
      }
    }
    .date-time{
      font-size: $text-size-xs;
      font-weight: normal;
      padding-top: 5px;
    }
  }
}

.banner-panel{
  height: $banner-size;
  @include cover-background('../images/banner.jpg');
  position: relative;
  color: #FFF;
  .article{
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    z-index: 11;
    .heading-text{
      color: #FFF;
    }
    .btn{
      background-color: rgba($brand-secondary, 0.2);
      color: #FFF;
      border-color: #FFF;
      min-width: 120px;
    }
  }
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
}

.data-list{
  margin: 80px 0 0 0;
  > .col{
    padding: 0
  }
  .card{
    border-color:$border-color;
    background: none;
    @include border-radius(0);
    margin-right: -1px;
    .card-img-top{
      height: 130px;
      min-width: 150px;
      position: relative;
      border-bottom: 1px solid $border-color;
      margin: 0;
      span{
        background-color: $brand-secondary;
        display: block;
        height: 80px;
        width: 80px;
        color: #FFF;
        @include border-radius(50%);
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        line-height: 80px;
        @include translate(-50%, -50%);
      }
    }
    .card-title{
      background-color: rgba(0, 0, 0, 0.02);
      margin: 0;
      padding: 15px 10px;
      text-align: center;
      color: $text-dark-color;
      font-size: $text-size-normal;
      text-transform: uppercase;
      font-weight: normal;
      height: 45px;
      font-family: $font-family-medium;
    }
    .list-group-item{
      background: none;
      border-color: $border-color;
      text-align: center;
      height: 60px;
      @include flexbox();
      align-items: center;
      justify-content: center;
      strong{
        font-weight: normal;
        //font-family: $font-family-medium;
        font-size: $text-size-sm;
      }
    }
  }
  .label{
    width: 124px;
    .card{
      border-color: transparent;
      .card-img-top{border-color: transparent;}
      .card-title{opacity: 0; visibility: hidden;}
      .list-group-item{border-color: transparent; text-align: right; justify-content: flex-end;}
    }
  }
}

.graph-panel{
  margin-top: 80px;
  > .row{
    .panel{
      padding: 10px 25px;
      border-right: 1px dashed $border-color;
      &:last-child{
        border: none !important;
      }
    }
  }
  .heading{
    h6{
      font-size: $text-size-sm;
      font-weight: normal;
    }
    h5{
      font-size: $text-size-md;
      font-weight: normal;
      color: $text-dark-color;
    }
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.profile-panel{max-width: 250px;}
.profile-panel .btn{width: 100%}
.profile-content-panel{min-width: 320px}

.boxes{
  .col{
    width: 150px; 
    text-align: center; 
    margin-top: 5px; 
    margin-bottom: 5px;
    .border{
        @include transition(all $animation-time ease);
    }
  }
  a{
      color: $text-normal-color;
      &:hover{
          text-decoration: none;
          .border{
              border-color: $brand-primary !important;
              background-color: $brand-primary;
              color: #FFF;
          }
      }
   }
} 
@import "framework/responsive";