﻿<?php
/*
UserSpice 4
An Open Source PHP User Management System
by the UserSpice Team at http://UserSpice.com

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
?>
<?php require_once 'init.php'; ?>
<?php require_once $abs_us_root.$us_url_root.'users/includes/header.php'; ?>
<?php require_once $abs_us_root.$us_url_root.'users/includes/navigation.php'; ?>

<?php if (!securePage($_SERVER['PHP_SELF'])){die();}?>
<?php
if(!empty($_POST['uncloak'])){
	if(isset($_SESSION['cloak_to'])){
		$to = $_SESSION['cloak_to'];
		$from = $_SESSION['cloak_from'];
		unset($_SESSION['cloak_to']);
		$_SESSION['user'] = $_SESSION['cloak_from'];
		unset($_SESSION['cloak_from']);
		logger($from,"Cloaking","uncloaked from ".$to);
		Redirect::to('admin_users.php?err=You+are+now+you!');
		}else{
			Redirect::to('logout.php?err=Something+went+wrong.+Please+login+again');
		}
}


//dealing with if the user is logged in
if($user->isLoggedIn() || !$user->isLoggedIn() && !checkMenu(2,$user->data()->id)){
	if (($settings->site_offline==1) && (!in_array($user->data()->id, $master_account)) && ($currentPage != 'login.php') && ($currentPage != 'maintenance.php')){
		$user->logout();
		Redirect::to($us_url_root.'users/maintenance.php');
	}
}
$grav = get_gravatar(strtolower(trim($user->data()->email)));
$get_info_id = $user->data()->id;
// $groupname = ucfirst($loggedInUser->title);
$raw = date_parse($user->data()->join_date);
$signupdate = $raw['month']."/".$raw['day']."/".$raw['year'];
$userdetails = fetchUserDetails(NULL, NULL, $get_info_id); //Fetch user details


 ?>

                                      <div id="page-wrapper" class="content-area">

                                          <div class="content-area">
                                              <article class="article border-bottom">
                                                  <div class="container">
                                                      <div class="content">
                                                          <h2 class="heading-text">Vehicle Distribution by Type</h2>
                                                          <p> Today as of now <strong>45% </strong>of the vehicles passed were Cars followed by MotorCycles which constitutes <strong>40%</strong> of vehicles. Trucks were least in count with <strong>1%</strong>. </p>
                                                      </div>
                                                      <div class="icons-container">
                                                          <ul class="list-inline">
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-scooter icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          40<span class="percentage">%</span>
                                                                      </div>
                                                                      <div class="dashed-bottom">Motorcycle<br>7516</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-auto-rickshaw icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          5<span class="percentage">%</span>
                                                                      </div>
                                                                      <div class="dashed-bottom">Threewheeler<br>7516</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-car icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          45<span class="percentage">%</span>
                                                                      </div>
                                                                      <div class="dashed-bottom">Car<br>7516</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-bus icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          7<span class="percentage">%</span>
                                                                      </div>
                                                                      <div class="dashed-bottom">Bus<br>7516</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-light-truck icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          2<span class="percentage">%</span>
                                                                      </div>
                                                                      <div class="dashed-bottom">Light Truck<br>7516</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-truck icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          1<span class="percentage">%</span>
                                                                      </div>
                                                                      <div class="dashed-bottom">Truck<br>7516</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </article>
                                              <article class="article border-bottom">
                                                  <div class="container">
                                                      <div class="content">
                                                          <h2 class="heading-text">Average Speed by Vehicle Type</h2>
                                                          <p> Today as of now, <strong style="color:red;"> Motorcycle @ 50kmph , Light Truck @ 35 KMPH and Trucks @ 25 KMPH </strong> were running above specified speed. <strong style="color:Orange;">Three Wheeler @ 40 KMPH </strong>are running Marginally above specified limit <strong style="color:Green;">Cars @ 30 KMPh and Bus @ 25KMPH </strong> are running below specified limit. </p>
                                                      </div>
                                                      <div class="icons-container">
                                                          <ul class="list-inline">
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-scooter icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          50<span class="kmh">km/h</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>SPECIFIED RANGE</STRONG></div>
                                                                      <div class="dashed-bottom">45 KMPH</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-auto-rickshaw icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          40<span class="kmh">km/h</span>
                                                                          <i class="icon-flag icon-md text-warning"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>SPECIFIED RANGE</STRONG></div>
                                                                      <div class="dashed-bottom">40 KMPH</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-car icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          30<span class="kmh">km/h</span>
                                                                          <i class="icon-flag icon-md text-success"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>SPECIFIED RANGE</STRONG></div>
                                                                      <div class="dashed-bottom">35 KMPH</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-bus icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="kmh">km/h</span>
                                                                          <i class="icon-flag icon-md text-success"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>SPECIFIED RANGE</STRONG></div>
                                                                      <div class="dashed-bottom">30 KMPH</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-light-truck icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          35<span class="kmh">km/h</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>SPECIFIED RANGE</STRONG></div>
                                                                      <div class="dashed-bottom">30 KMPH</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-truck icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="kmh">km/h</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>SPECIFIED RANGE</STRONG></div>
                                                                      <div class="dashed-bottom">20 KMPH</div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </article>
                                              <div class="banner-panel">
                                                  <article class="article">
                                                      <div class="content">
                                                          <h2 class="heading-text">IOT TRAFFIC MONITORING SYSTEM</h2>
                                                          <p>An Internet of things (IOT) based wireless sensor system, solely using wireless accelerometers, is developed for traffic volume and vehicle classification monitoring in this paper. A series of laboratory tests, field tests as well as numerical simulation were performed to validate the feasibility and accuracy of the monitoring system. Besides, in order to eliminate the impacts of noises in the output signals, an advanced algorithm is developed to analyze the test data. The findings based on the test results indicate that the system is capable of reliably detecting axles and calculating axle spacing in both laboratory and field tests. In addition, compared with the actual measurements, the numerical simulation further validates the feasibility of the integrated wireless sensor system for traffic information monitoring.</p>
                                                          <!-- <p class="pt-4 mb-0"><a href="#" class="btn">Sign Up</a></p> -->
                                                      </div>
                                                  </article>
                                              </div>
                                              <article class="article border-bottom">
                                                  <div class="container">
                                                      <div class="content">
                                                          <h2 class="heading-text">Violation % by class</h2>
                                                          <p>% of vehicles of a specific class who had violated the rule for any reason. Except Cars rest of the vehicle type violation % has gone up against till date violation%. </p>
                                                      </div>
                                                      <div class="icons-container">
                                                          <ul class="list-inline">
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-scooter icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="percentage">%</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>Violation % till date</STRONG></div>
                                                                      <div class="dashed-bottom">20 <span class="percentage">%</span></div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-auto-rickshaw icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="percentage">%</span>
                                                                          <i class="icon-flag icon-md text-warning"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>Violation % till date</STRONG></div>
                                                                      <div class="dashed-bottom">25 <span class="percentage">%</span></div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-car icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="percentage">%</span>
                                                                          <i class="icon-flag icon-md text-success"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>Violation % till date</STRONG></div>
                                                                      <div class="dashed-bottom">30 <span class="percentage">%</span></div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-bus icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="percentage">%</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>Violation % till date</STRONG></div>
                                                                      <div class="dashed-bottom">20 <span class="percentage">%</span></div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-light-truck icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="percentage">%</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>Violation % till date</STRONG></div>
                                                                      <div class="dashed-bottom">20 <span class="percentage">%</span></div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                              <li class="list-inline-item">
                                                                  <aside>
                                                                      <div class="iconBlock">
                                                                          <i class="icon-truck icon-xl"></i>
                                                                      </div>
                                                                      <div class="text-bold">
                                                                          25<span class="percentage">%</span>
                                                                          <i class="icon-flag icon-md text-danger"></i>
                                                                      </div>
                                                                      <div style="color:ROYALBLUE;"><STRONG>Violation % till date</STRONG></div>
                                                                      <div class="dashed-bottom">20 <span class="percentage">%</span></div>
                                                                  </aside>
                                                                  <div class="date-time">18/07/02, 13:16</div>
                                                              </li>
                                                          </ul>
                                                      </div>
                                                  </div>
                                              </article>
                                              <article class="article dark-grey-bg border-bottom">
                                                  <div class="container">
                                                      <div class="content">
                                                          <h2 class="heading-text">Distribution of vehicle class by violation type</h2>
                                                          <p>Below table shows violation reason % for each class. Top 2 reasons for most of the vehicle types to violate traffic are "Restricted Vehicle" followed by defined "Speed limit" at that point. </p>
                                                      </div>
                                                      <div class="data-list row">
                                                          <div class="col label">
                                                              <div class="card">
                                                                  <figure class="card-img-top"></figure>
                                                                  <h5 class="card-title text-truncate">Motorcycle</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <span>Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <span>Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <span>Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <span>No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <span>Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                          <div class="col list">
                                                              <div class="card">
                                                                  <figure class="card-img-top">
                                                                      <span>
                                                                          <i class="icon-scooter icon-xl"></i>
                                                                      </span>
                                                                  </figure>
                                                                  <h5 class="card-title text-truncate">Motorcycle</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <strong>9%</strong>
                                                                          <span class="d-block d-lg-none">Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>18%</strong>
                                                                          <span class="d-block d-lg-none">Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>44%</strong>
                                                                          <span class="d-block d-lg-none">Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>39%</strong>
                                                                          <span class="d-block d-lg-none">No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>32%</strong>
                                                                          <span class="d-block d-lg-none">Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                          <div class="col list">
                                                              <div class="card">
                                                                  <figure class="card-img-top">
                                                                      <span>
                                                                          <i class="icon-auto-rickshaw icon-xl"></i>
                                                                      </span>
                                                                  </figure>
                                                                  <h5 class="card-title text-truncate">Three Wheeler</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <strong>8%</strong>
                                                                          <span class="d-block d-lg-none">Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>12%</strong>
                                                                          <span class="d-block d-lg-none">Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>54%</strong>
                                                                          <span class="d-block d-lg-none">Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>32%</strong>
                                                                          <span class="d-block d-lg-none">No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>28%</strong>
                                                                          <span class="d-block d-lg-none">Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                          <div class="col list">
                                                              <div class="card">
                                                                  <figure class="card-img-top">
                                                                      <span>
                                                                          <i class="icon-car icon-xl"></i>
                                                                      </span>
                                                                  </figure>
                                                                  <h5 class="card-title text-truncate">Car</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <strong>8%</strong>
                                                                          <span class="d-block d-lg-none">Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>12%</strong>
                                                                          <span class="d-block d-lg-none">Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>54%</strong>
                                                                          <span class="d-block d-lg-none">Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>32%</strong>
                                                                          <span class="d-block d-lg-none">No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>28%</strong>
                                                                          <span class="d-block d-lg-none">Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                          <div class="col list">
                                                              <div class="card">
                                                                  <figure class="card-img-top">
                                                                      <span>
                                                                          <i class="icon-bus icon-xl"></i>
                                                                      </span>
                                                                  </figure>
                                                                  <h5 class="card-title text-truncate">Bus</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <strong>8%</strong>
                                                                          <span class="d-block d-lg-none">Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>12%</strong>
                                                                          <span class="d-block d-lg-none">Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>54%</strong>
                                                                          <span class="d-block d-lg-none">Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>32%</strong>
                                                                          <span class="d-block d-lg-none">No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>28%</strong>
                                                                          <span class="d-block d-lg-none">Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                          <div class="col list">
                                                              <div class="card">
                                                                  <figure class="card-img-top">
                                                                      <span>
                                                                          <i class="icon-light-truck icon-xl"></i>
                                                                      </span>
                                                                  </figure>
                                                                  <h5 class="card-title text-truncate">Light Truck</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <strong>8%</strong>
                                                                          <span class="d-block d-lg-none">Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>12%</strong>
                                                                          <span class="d-block d-lg-none">Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>54%</strong>
                                                                          <span class="d-block d-lg-none">Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>32%</strong>
                                                                          <span class="d-block d-lg-none">No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>28%</strong>
                                                                          <span class="d-block d-lg-none">Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                          <div class="col list">
                                                              <div class="card">
                                                                  <figure class="card-img-top">
                                                                      <span>
                                                                          <i class="icon-truck icon-xl"></i>
                                                                      </span>
                                                                  </figure>
                                                                  <h5 class="card-title text-truncate">Truck</h5>
                                                                  <ul class="list-group list-group-flush">
                                                                      <li class="list-group-item">
                                                                          <strong>8%</strong>
                                                                          <span class="d-block d-lg-none">Vehicles movement in wrong direction</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>12%</strong>
                                                                          <span class="d-block d-lg-none">Overloaded Vehicle</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>54%</strong>
                                                                          <span class="d-block d-lg-none">Restricted Vehicles</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>32%</strong>
                                                                          <span class="d-block d-lg-none">No Entry</span>
                                                                      </li>
                                                                      <li class="list-group-item">
                                                                          <strong>28%</strong>
                                                                          <span class="d-block d-lg-none">Speed Limit</span>
                                                                      </li>
                                                                  </ul>
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </article>
                                              <article class="article">
                                                  <div class="container">
                                                      <div class="content">
                                                          <h2 class="heading-text">Traffic Distribution Hub</h2>
                                                          <p>Compare and track traffic distribution on parameters like Congestion, Speed, Probable Violation and Risk factor </p>
                                                          <div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="all" checked>
                                                                  <label class="form-check-label" for="all">All</label>
                                                              </div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="cars">
                                                                  <label class="form-check-label" for="cars">Cars</label>
                                                              </div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="Buses">
                                                                  <label class="form-check-label" for="Buses">Buses</label>
                                                              </div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="Trucks">
                                                                  <label class="form-check-label" for="Trucks">Trucks</label>
                                                              </div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="Light-Trucks">
                                                                  <label class="form-check-label" for="Light-Trucks">Light Trucks</label>
                                                              </div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="Whellers-2">
                                                                  <label class="form-check-label" for="Whellers-2">2 Whellers</label>
                                                              </div>
                                                              <div class="form-check form-check-inline">
                                                                  <input class="form-check-input" type="checkbox" id="Whellers-3">
                                                                  <label class="form-check-label" for="Whellers-3">3 Whellers</label>
                                                              </div>
                                                          </div>
                                                      </div>
                                                      <div class="graph-panel">
                                                          <div class="row">
                                                              <div class="col-md-6 panel">
                                                                  <div class="heading pb-2">
                                                                      <h6>All</h6>
                                                                      <h5>Speed wise distribution</h5>
                                                                  </div>
                                                                  <div class="graph">
                                                                      <img src="images/graph.png" class="img-fluid" />
                                                                  </div>
                                                                  <div class="article pt-4 pb-0">
                                                                      <div class="content text-left">
                                                                          <h4 class="heading-text text-size-sm mb-1">Speed wise distribution</h4>
                                                                          <p>Some commentary...</p>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-6 panel">
                                                                  <div class="heading pb-2">
                                                                      <h6>All</h6>
                                                                      <h5>Traffic congestion by time</h5>
                                                                  </div>
                                                                  <div class="graph">
                                                                      <img src="images/graph.png" class="img-fluid" />
                                                                  </div>
                                                                  <div class="article pt-4 pb-0">
                                                                      <div class="content text-left">
                                                                          <h4 class="heading-text text-size-sm mb-1">Traffic congestion by time</h4>
                                                                          <p>Some commentary...</p>
                                                                      </div>
                                                                  </div>
                                                              </div>

                                                              <div class="col-md-6 panel">
                                                                  <div class="heading pb-2">
                                                                      <h6>All</h6>
                                                                      <h5>Traffic Violation distribution</h5>
                                                                  </div>
                                                                  <div class="graph">
                                                                      <img src="images/graph.png" class="img-fluid" />
                                                                  </div>
                                                                  <div class="article pt-4 pb-0">
                                                                      <div class="content text-left">
                                                                          <h4 class="heading-text text-size-sm mb-1">Speed wise distribution</h4>
                                                                          <p>Some commentary...</p>
                                                                      </div>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-6 panel">
                                                                  <div class="heading pb-2">
                                                                      <h6>All</h6>
                                                                      <h5>Risk Factor distribution</h5>
                                                                  </div>
                                                                  <div class="graph">
                                                                      <img src="images/graph.png" class="img-fluid" />
                                                                  </div>
                                                                  <div class="article pt-4 pb-0">
                                                                      <div class="content text-left">
                                                                          <h4 class="heading-text text-size-sm mb-1">Traffic congestion by time</h4>
                                                                          <p>Some commentary...</p>
                                                                      </div>
                                                                  </div>
                                                              </div>

                                                              <div class="col-md-6 panel">
                                                                  <div class="heading pb-2">
                                                                      <h6>All</h6>
                                                                      <h5>Peak Traffic distribution</h5>
                                                                  </div>
                                                                  <div class="graph">
                                                                      <img src="images/graph.png" class="img-fluid" />
                                                                  </div>
                                                                  <div class="article pt-4 pb-0">
                                                                      <div class="content text-left">
                                                                          <h4 class="heading-text text-size-sm mb-1">Traffic congestion by time</h4>
                                                                          <p>Some commentary...</p>
                                                                      </div>
                                                                  </div>
                                                              </div>

                                                              <div class="col-md-6 panel">
                                                                  <div class="heading pb-2">
                                                                      <h6>All</h6>
                                                                      <h5>Vehicle Classification Distribution</h5>
                                                                  </div>
                                                                  <div class="graph">
                                                                      <img src="images/graph.png" class="img-fluid" />
                                                                  </div>
                                                                  <div class="article pt-4 pb-0">
                                                                      <div class="content text-left">
                                                                          <h4 class="heading-text text-size-sm mb-1">Traffic congestion by time</h4>
                                                                          <p>Some commentary...</p>
                                                                      </div>
                                                                  </div>
                                                              </div>

                                                          </div>
                                                      </div>
                                                  </div>
                                              </article>
                                          </div>
                                      </div> <!-- /#page-wrapper -->
<!-- footers -->
<?php require_once $abs_us_root.$us_url_root.'users/includes/page_footer.php'; // the final html footer copyright row + the external js calls ?>

<!-- Place any per-page javascript here -->
<?php require_once $abs_us_root.$us_url_root.'users/includes/html_footer.php'; // currently just the closing /body and /html ?>



