<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
   
    google.load('visualization', '1.2', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);

    google.charts.load('current', {packages: ['controls', 'corechart'],callback: drawDashboard});
    google.charts.setOnLoadCallback(drawDashboard);
    function drawChart() {         
      var jsonData=$.ajax({
            type: "GET",
            url: 'http://54.179.184.250/TrafficManagementAPI',
            data :  {Controller: 'VehicleAPIController',Function: 'TrafficListing',Table: '<?php echo ($_SESSION["table"]); ?>',Dtype1: '<?php echo ($_SESSION["Dtype1"]); ?>',Dtype2: '<?php echo ($_SESSION["Dtype2"]); ?>',Dtype3: '<?php echo ($_SESSION["Dtype3"]); ?>'},
            dataType: 'json',
            async: false
        }).responseText;
        
        if('<?php echo ($_SESSION["type"]); ?>'=='Multiple')
        {
            if('<?php echo ($_SESSION["Dtype2"]); ?>'=='None')
            {
                var data = new google.visualization.DataTable();
                data.addColumn('string', '<?php echo ($_SESSION["Dtype1"]); ?>');
                data.addColumn('number', 'Class Wise Current '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                var i=1;
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    i=i+1;
                });
            }
            else
            {
                var data = new google.visualization.DataTable();
                data.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                data.addColumn('number', 'Class1 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                data.addColumn('number', 'Class2 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                data.addColumn('number', 'Class3 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                data.addColumn('number', 'Class4 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                data.addColumn('number', 'Class5 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                data.addColumn('number', 'Class6 '+'<?php echo ($_SESSION["Dtype3"]); ?>');

                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.<?php echo ($_SESSION["Dtype2"]); ?>=='Class1') 
                    {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>,,,,,]); 
                    }
                    if(obj.<?php echo ($_SESSION["Dtype2"]); ?>=='Class2') 
                    {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,,obj.<?php echo ($_SESSION["Dtype3"]); ?>,,,,]); 
                    }
                    if(obj.<?php echo ($_SESSION["Dtype2"]); ?>=='Class3') 
                    {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,,,obj.<?php echo ($_SESSION["Dtype3"]); ?>,,,]); 
                    }
                    if(obj.<?php echo ($_SESSION["Dtype2"]); ?>=='Class4') 
                    {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,,,,obj.<?php echo ($_SESSION["Dtype3"]); ?>,,]); 
                    }
                    if(obj.<?php echo ($_SESSION["Dtype2"]); ?>=='Class5') 
                    {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,,,,,obj.<?php echo ($_SESSION["Dtype3"]); ?>,]); 
                    }
                    if(obj.<?php echo ($_SESSION["Dtype2"]); ?>=='Class6') 
                    {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,,,,,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });
            }
        }
        if('<?php echo ($_SESSION["type"]); ?>'=='Single')
        {
            if('<?php echo ($_SESSION["Dtype2"]); ?>'=='None')
            {
                var data = new google.visualization.DataTable();
                data.addColumn('string', '<?php echo ($_SESSION["Dtype1"]); ?>');
                data.addColumn('number', 'Class1 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    data.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                });
                
            }
            else
            {
                var dataclass1 = new google.visualization.DataTable();
                dataclass1.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                dataclass1.addColumn('number', 'Class1 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                var dataclass2 = new google.visualization.DataTable();
                dataclass2.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                dataclass2.addColumn('number', 'Class2 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                var dataclass3 = new google.visualization.DataTable();
                dataclass3.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                dataclass3.addColumn('number', 'Class3 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                var dataclass4 = new google.visualization.DataTable();
                dataclass4.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                dataclass4.addColumn('number', 'Class4 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                var dataclass5 = new google.visualization.DataTable();
                dataclass5.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                dataclass5.addColumn('number', 'Class5 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                var dataclass6 = new google.visualization.DataTable();
                dataclass6.addColumn('number', '<?php echo ($_SESSION["Dtype1"]); ?>');
                dataclass6.addColumn('number', 'Class6 '+'<?php echo ($_SESSION["Dtype3"]); ?>');
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.Class=='Class1')
                    {
                        dataclass1.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });

                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.Class=='Class2')
                    {
                        dataclass2.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.Class=='Class3')
                    {
                        dataclass3.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.Class=='Class4')
                    {
                        dataclass4.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.Class=='Class5')
                    {
                        dataclass5.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });
                $.each(JSON.parse(jsonData), function(idx, obj) {
                    if(obj.Class=='Class6')
                    {
                        dataclass6.addRow([obj.<?php echo ($_SESSION["Dtype1"]); ?>,obj.<?php echo ($_SESSION["Dtype3"]); ?>]); 
                    }
                });
            }
        }
        
      if('<?php echo ($_SESSION["Gtype"]); ?>'=='Column')
      {
        if('<?php echo ($_SESSION["type"]); ?>'=='Multiple')
        {  
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, {width: 900, height: 250});
            
        }
        if('<?php echo ($_SESSION["type"]); ?>'=='Single')
        {  
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(dataclass1, {width: 900, height: 250});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div1'));
            chart.draw(dataclass2, {width: 900, height: 250});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div2'));
            chart.draw(dataclass3, {width: 900, height: 250});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
            chart.draw(dataclass4, {width: 900, height: 250});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div4'));
            chart.draw(dataclass5, {width: 900, height: 250});
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div5'));
            chart.draw(dataclass2, {width: 900, height: 250});
            
        }
      }
      if('<?php echo ($_SESSION["Gtype"]); ?>'=='Pie')
      {
        var chart = new google.visualization.PieChart(document.getElementById('piechart_div'));
        chart.draw(data, {width: 400, height: 240});
      }
        var options1 = 
                    {
                        legend: 'none',
                        hAxis: { minValue: 0, maxValue: 9 },
                        curveType: 'function',
                        pointSize: 7,
                        dataOpacity: 0.3
                    };
        var options = {
              annotations: {
                textStyle: {
                  fontName: 'Times-Roman',
                  fontSize: 18,
                  bold: true,
                  italic: true,
                  // The color of the text.
                  color: '#871b47',
                  // The color of the text outline.
                  auraColor: '#d799ae',
                  // The transparency of the text.
                  opacity: 0.8
                }
              }
            };
        if('<?php echo ($_SESSION["Gtype"]); ?>'=='Bar')
        {
            if('<?php echo ($_SESSION["type"]); ?>'=='Multiple')
            { 
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));
                  chart.draw(data);  
            }
            if('<?php echo ($_SESSION["type"]); ?>'=='Single')
            {
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));
                  chart.draw(dataclass1);  
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart1'));
                  chart.draw(dataclass2);  
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart2'));
                  chart.draw(dataclass3);
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart3'));
                  chart.draw(dataclass4);
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart4'));
                  chart.draw(dataclass5);
                var chart = new google.visualization.BarChart(document.getElementById('bar_chart5'));
                  chart.draw(dataclass6);
            }
        }
        if('<?php echo ($_SESSION["Gtype"]); ?>'=='Line')
        {
            if('<?php echo ($_SESSION["type"]); ?>'=='Multiple')
            {
                var chart = new google.visualization.LineChart(document.getElementById('line_chart1'));
                  chart.draw(data, options);
            }
            if('<?php echo ($_SESSION["type"]); ?>'=='Single')
            {
                var chart = new google.visualization.LineChart(document.getElementById('line_chart1'));
                  chart.draw(dataclass1, options);
                var chart = new google.visualization.LineChart(document.getElementById('line_chart11'));
                  chart.draw(dataclass2, options);
                var chart = new google.visualization.LineChart(document.getElementById('line_chart21'));
                  chart.draw(dataclass3, options);
                var chart = new google.visualization.LineChart(document.getElementById('line_chart31'));
                  chart.draw(dataclass4, options);
                var chart = new google.visualization.LineChart(document.getElementById('line_chart41'));
                  chart.draw(dataclass5, options);
                var chart = new google.visualization.LineChart(document.getElementById('line_chart51'));
                  chart.draw(dataclass6, options);
            }
        }
    }
    
    </script>
  </head>

  <body>
      
      
    <!--Div that will hold the column chart-->
    <div id="chart_div"></div>
    <div id="piechart_div"></div>
    <div id="bar_chart"></div>
    <div id="line_chart1"></div>
    <div id="line_top_x"></div>
    <div id="chart_div1"></div>
    <div id="piechart_div1"></div>
    <div id="bar_chart1"></div>
    <div id="line_chart11"></div>
    <div id="line_top_x1"></div>
    <div id="chart_div2"></div>
    <div id="piechart_div2"></div>
    <div id="bar_chart2"></div>
    <div id="line_chart21"></div>
    <div id="line_top_x2"></div>
    <div id="chart_div3"></div>
    <div id="piechart_div3"></div>
    <div id="bar_chart3"></div>
    <div id="line_chart31"></div>
    <div id="line_chart41"></div>
    <div id="line_chart51"></div>
    <div id="line_top_x3"></div>
    <div id="chart_div4"></div>
    <div id="piechart_div4"></div>
    <div id="bar_chart4"></div>
    <div id="line_top_x4"></div>
  </body>
</html>